# To ensure installation of libraries succeeds
wheel

tensorflow-gpu==1.13.1
pillow
lxml
#jupyter -- maybe remove
matplotlib

# For OpenCV
numpy
opencv-contrib-python

# For xml_to_csv.py and generate_tfrecord.py - for building one's own model.
pandas
